run = "php artisan serve --host=0.0.0.0 --port=8000 -vvv"
modules = ["nodejs-20:v8-20230920-bd784b9"]

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "php artisan serve --host=0.0.0.0 --port=8000 -vvv"]
deploymentTarget = "cloudrun"
